name: Playwright Pytest Automation

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install chromium

      - name: Set environment variables
        run: |
          echo "BASE_URL=${{ secrets.BASE_URL }}" >> $GITHUB_ENV
          echo "SELECT_INSURANCE_URL=${{ secrets.SELECT_INSURANCE_URL }}" >> $GITHUB_ENV
          echo "CUSTOMER_DETAILS_URL=${{ secrets.CUSTOMER_DETAILS_URL }}" >> $GITHUB_ENV
          echo "EMPLOYEE_ID=${{ secrets.EMPLOYEE_ID }}" >> $GITHUB_ENV
          echo "PASSWORD=${{ secrets.PASSWORD }}" >> $GITHUB_ENV

      - name: Run Playwright Tests
        run: pytest -v --html=report.html

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: report.html
